/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 100px;
}


.flex{
    display: flex;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}


a{
    color:white;
    text-decoration: none;
}



.border{
    border: 1px dashed black;
}
/*Header*/

header{
    background-color: orangered;
    color: white;
    box-shadow: 0 1px 3px #666;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-bar{
    height: 70px;
    padding: 10px 0;
    align-items: center;
}

.nav-bar >*{
    flex-basis: calc(100% / 3);
}

.nav-bar img{
    height: 30px;
    display: block;
    margin: 0 auto;
}

.icon ul{
    justify-content: flex-end;
}

/*main*/
.row{
    margin: 0 -1rem;
    flex-wrap: wrap;
}
.col{
    flex-basis: calc(100% / 3);
    padding: 1rem;
}
/*Img*/
.card-img{
    position: relative;
}

.card img{
    display: block;
    height: auto;
    max-width: 100%;

}
.card .secondary-pic,
.card:hover .main-pic{
    display: none;
}

.card:hover .secondary-pic{
    display: block;
}
/*heart*/
.favorite{
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 1.3rem;
    text-align: center;
    line-height: 50px;

    position: absolute;
    right: 0;
    top: 10px;

    cursor: pointer;
}
.favorite:hover{
    color: red;
}
/*badges*/
.card-badges {
    position: absolute;

    left: 0;
    bottom: 20px;
}

.badge{
    color:white;
    font-weight: bold;
    padding: 5px 10px;
}

.badge-discount{
    background-color: red;
}

.badge-tag{
    background-color: green;
    text-transform: capitalize;
}
/*text-card*/
.discounted-price{
    color: red;
}

.cart-text > *{
    padding: 2px;
}

.cart-text h3{
    font-size: 16px;
}

.article-brand{
    color: #666;
    font-size: 14px;
}

.article-price{
    font-size: 13px;
}




/*footer*/

footer{
    background-color: black;
    color: white;
}

.row-footer{
    height: 70px;
    padding: 10px 0;
    align-items: center;   
}

.row-footer > *{
    flex-basis: calc(100% / 2); 
}

.col-social{
    flex-direction: column;
    align-items: flex-end;
}

.title-fot{
    padding-bottom: 5px;
}   

.icon:hover {
    cursor: pointer;
}